
<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red;flex-basis: 15%;" class = "error">
      <h2> You can't save a task without a title.</h2>
      
    </div>
  <% end %>
<div class="formS">
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :done, style: "display: block" %>
    <%= form.check_box :done, {}, 'true', 'false' %>
  </div>
  
   <%= form.hidden_field :main_task_id %>
  
  
     
  <%= form.submit %>
  
<% end %>
</div>
