<div class = 'sub-container'>
    <%= check_box_tag "check_#{sub.id}", "true", sub.done, class: 'check' %>
    <label for= "check_<%= sub.id %>" class= "sub-title"><%= sub.title %></label>
    <%= button_to "X", sub, method: :delete, remote: true, 
                data: { turbo_confirm: "Do you really want to delete this sub task?", turbo_frame: "_top" },
                class: 'sub-destroy' %>
    <%= button_to task_path(sub), method: :get, remote: true,class: "sub-show",id: "botao_#{sub.id}",data:{turbo_frame:"_top"} do %>🕮<% end %>
</div>

