<div class = 'sub-container'>
    <%= check_box_tag "check_#{sub.id}", "true", sub.done, class: 'check' %>
    <label for= "check_<%= sub.id %>" class= "sub-title"><%= sub.title %></label>

    <%= button_to "x", sub, class: 'sub-destroy', method: :delete, remote: true, data: { type: :json, turbo_method: 'delete', turbo_confirm: "Do you really want to delete all the tasks?" } %>
    

    <%= button_to task_path(sub), method: :get, remote: true,class: "sub-show",id: "botao_#{sub.id}",data:{turbo_frame:"_top"} do %>🕮<% end %>
</div>

