
<div id="<%= dom_id task %>" class ="show_task ">
  <div class = "done_title">
    <%= check_box_tag "done" %>
    
    <h2 class = "title">
     <%= task.title %>
    </h2>
  </div>
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>
   <div>
     <%= link_to "Adicionar Sub Task", new_sub_task_path(id: task.id)  %>
    
  </div>
</div>
