<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
<p style="color: green"><%= notice %></p>

<%= render @task %>
<% @sub_tasks.each do |sub| %>
      <%= render "showSub", sub: sub %>
        <%= link_to "Show this task", sub %>
    <% end %>

<div>
  <%= link_to "Edit this task", edit_task_path(@task) %> |
  <%= link_to "Back to tasks", tasks_path %>

  <%= button_to "Destroy this task", @task, method: :delete %>
</div>
